<!DOCTYPE html>
<html>
<head>
    <title>NHL Dashboard</title>
    <style>
        body { font-family: sans-serif; padding: 2rem; }
        nav a { margin-right: 20px; }
        table { width: 100%; border-collapse: collapse; min-width: 600px; background-color: white;}
        th, td { padding: 8px; border: 1px solid #ccc; text-align: left; white-space: nowrap; }
        img { vertical-align: middle; }
        header { background-color: rgb(249, 249, 249);}
    </style>
</head>
<body style="background-color: {{ team_color|default:'#ffffff' }};">
    <header>
        <nav>
            <a href="{% url 'standings_overview' %}">League Standings</a>
            <a href="{% url 'roster_stats' %}">Team Stats</a>
            <a href="{% url 'rink_plot' %}">Rink Plot</a>
        </nav>
    </header>
    {% block content %}{% endblock %}
</body>
</html>
